.content {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 15px;
    justify-content: space-around;
    height: 300px;
}

.content > div:nth-child(1), .content > div:nth-child(2) {
    display: flex;
    justify-content: center;
    background-color: #b9babd;
    align-items: center;
    border-radius: 15px;
}

.content > div:nth-child(1) {
    width: 75%;
}

.content > div:nth-child(2) {
    width: 25%;
}
