body{
    margin: 0;
    text-align: -webkit-center;
}
.widgets, .container{
    display: flex;
}
.container{
    flex-wrap: nowrap;
    width: 60vw;
    flex-direction: column;
    row-gap: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid darkgray;
}
.widgets{
    justify-content: center;
    align-items: center;
}

.h150{
    height: 150px;
}
.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
.bg_light_blue{
    background-color: #2269bb;
}
.bg_dark_blue{
    background-color: #16457a;
}
.jf_content{
    justify-content: space-between;
}

h3{
    color: white;
    font-family: roboto, sans-serif;
    margin: 0;
}
.w_calc{
    width: calc(100%/3 - 15px);
}
