.block {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 15px;
    row-gap: 25px;
    justify-content: space-between;
    align-items: stretch;
}

.class_H, .wrap_block, .class_Bcdefg {
    display: flex;
    justify-content: center;
    align-items: center;

}

.class_H {
    width: 25%;
    background-color: #b9babd;
    border-radius: 15px;
    height: auto;
}

.wrap_block {
    width: 75%;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;

}

.class_Bcdefg {
    width: 30%;
    height: 200px;
    border-radius: 15px;
    background-color: #b9babd;
}